# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, built with go test -c
*.test

# Vendor directory
/vendor

# Go modules
go.sum

# Go workspace file
go.work

# IDE
.idea/
*.iml

# VS Code
.vscode/

# Env
.env